*{
    box-sizing: border-box;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color: white;
    margin-left: 2.3rem;
    text-decoration: none;
    font-size: 17px;
}
.header a:hover{
    color: red;
}
.btn-logout{
    padding: .45rem .9rem;
    border: none;
    margin-left: 1.7rem;
    background-color: rgb(18, 18, 109);
    color: white;
    border-radius: .3rem;
}
.header-email{
    color: white;
    margin-left: 1rem;
}

.active{
    color:red;
  }