.form-container{
    width: 500px;
    height: 600px;
    margin: 20px auto;
    background: #ffffff;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    /* padding-left: 20px; */
}
.form-title{
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;

    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}
.form-control{
    margin-left: 40px;
    margin-bottom: 20px;   
}
.or-horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.or-horizontal div{
    background-color: #95A0A7;
    width: 150px;
    height: 1px;
    margin: 1rem;
}
.form-control label{
    display: block;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
}
.form-control input{
    width: 415px;
    height: 55px;
    border:  1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
    /* margin-left: auto; */

    /* margin-right: auto; */
}
.btn-submit{
    width: 415px;
    height: 3rem;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    border: none;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
}
.btn-submit:hover{
    background: rgba(255, 153, 0, 0.6);
}
.new-account-link{
    color: #FF9900;
    text-decoration: none;
}
.google-login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: 
    #95A0A7 1px solid;
    width: 83%;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: .3rem;

}
.google-login-container FcGoogle{
    font-size: 1.7rem;
}
.google-login-container p{
    font-size: 1.2rem;
}